body {
  background-color: rgb(21, 109, 186);
}

.main-container {
  margin-top: 5%;
  color: white;
}
.title {
  text-align: center;
  font-size: 3em;
}
.length-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.break {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
.session {
  margin-left: 40px;
  text-align: center;
}
.fa-arrow-down,
.fa-arrow-up,
.fa-play,
.fa-pause,
.fa-sync-alt,
.length {
  font-size: 1.7rem;
  margin-right: 1rem;
}
.countdown-section {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.session-length {
  font-size: 4rem;
  border: 5px solid black;
  border-radius: 18px;
  padding: 10%;
  text-align: center;
  margin-bottom: 20px;
}

.session-length-title {
  position: relative;
  bottom: 20px;
}
.controls {
  margin-left: 30%;
}

@media screen and (max-width: 600px) {
  .fa-arrow-down,
  .fa-arrow-up,
  .fa-play,
  .fa-pause,
  .fa-sync-alt,
  .length {
    font-size: 1.5rem;
  }

  .countdown-section {
    margin-top: 1%;
    width: 100%;
  }
  .controls {
    margin-left: 35%;
  }
}

@media screen and (min-width: 768px) and (max-width: 770px) {
}
